__pycache__
.pytest_cache

# .env file
.env

# google sheets credentials
google_sheets_credentials.json

# python virtual environment
.venv

# exclude local scripts
run_vllm_openai.py
transformers_hf_test.py
test_hf_embedding_endpoint.py

# exclude folders
eval_groq